In [672]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn.tree
from sklearn.tree import DecisionTreeRegressor
from sklearn import preprocessing
import pip
pip.main(["install", "openpyxl"])
import graphviz
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor

WARNING: pip is being invoked by an old script wrapper. This will fail in a future version of pip.
Please see https://github.com/pypa/pip/issues/5599 for advice on fixing the underlying issue.
To avoid this problem you can invoke Python with '-m pip' instead of running pip directly.

Requirement already satisfied: openpyxl in /Users/allenclark/anaconda3/lib/python3.7/site-packages (2.6.2)
Requirement already satisfied: jdcal in /Users/allenclark/anaconda3/lib/python3.7/site-packages (from openpyxl) (1.4.1)
Requirement already satisfied: et-xmlfile in /Users/allenclark/anaconda3/lib/python3.7/site-packages (from openpyxl) (1.0.1)

In [673]:
df = pd.read_excel('/Users/allenclark/Downloads/flight_data/Data_Train.xlsx')

In [674]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
5,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087
7,Jet Airways,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270
8,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087
9,Multiple carriers,27/05/2019,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625
10,Air India,1/06/2019,Delhi,Cochin,DEL → BLR → COK,09:45,23:00,13h 15m,1 stop,No info,8907
11,IndiGo,18/04/2019,Kolkata,Banglore,CCU → BLR,20:20,22:55,2h 35m,non-stop,No info,4174
12,Air India,24/06/2019,Chennai,Kolkata,MAA → CCU,11:40,13:55,2h 15m,non-stop,No info,4667
13,Jet Airways,9/05/2019,Kolkata,Banglore,CCU → BOM → BLR,21:10,09:20 10 May,12h 10m,1 stop,In-flight meal not included,9663
14,IndiGo,24/04/2019,Kolkata,Banglore,CCU → BLR,17:15,19:50,2h 35m,non-stop,No info,4804
15,Air India,3/03/2019,Delhi,Cochin,DEL → AMD → BOM → COK,16:40,19:15 04 Mar,26h 35m,2 stops,No info,14011
16,SpiceJet,15/04/2019,Delhi,Cochin,DEL → PNQ → COK,08:45,13:15,4h 30m,1 stop,No info,5830
17,Jet Airways,12/06/2019,Delhi,Cochin,DEL → BOM → COK,14:00,12:35 13 Jun,22h 35m,1 stop,In-flight meal not included,10262
18,Air India,12/06/2019,Delhi,Cochin,DEL → CCU → BOM → COK,20:15,19:15 13 Jun,23h,2 stops,No info,13381
19,Jet Airways,27/05/2019,Delhi,Cochin,DEL → BOM → COK,16:00,12:35 28 May,20h 35m,1 stop,In-flight meal not included,12898
20,GoAir,6/03/2019,Delhi,Cochin,DEL → BOM → COK,14:10,19:20,5h 10m,1 stop,No info,19495
21,Air India,21/03/2019,Banglore,New Delhi,BLR → COK → DEL,22:00,13:20 19 Mar,15h 20m,1 stop,No info,6955
22,IndiGo,3/04/2019,Banglore,Delhi,BLR → DEL,04:00,06:50,2h 50m,non-stop,No info,3943
23,IndiGo,1/05/2019,Banglore,Delhi,BLR → DEL,18:55,21:50,2h 55m,non-stop,No info,4823
24,Jet Airways,6/05/2019,Kolkata,Banglore,CCU → BOM → BLR,18:55,08:15 07 May,13h 20m,1 stop,In-flight meal not included,7757
25,Jet Airways,9/06/2019,Delhi,Cochin,DEL → IDR → BOM → COK,21:25,12:35 10 Jun,15h 10m,2 stops,No info,13292
26,IndiGo,1/06/2019,Delhi,Cochin,DEL → LKO → COK,21:50,03:35 02 Jun,5h 45m,1 stop,No info,8238
27,GoAir,15/05/2019,Delhi,Cochin,DEL → BOM → COK,07:00,12:55,5h 55m,1 stop,No info,7682
28,Vistara,18/06/2019,Banglore,Delhi,BLR → DEL,09:45,12:35,2h 50m,non-stop,No info,4668
29,Vistara,15/06/2019,Chennai,Kolkata,MAA → CCU,07:05,09:20,2h 15m,non-stop,No info,3687
...,...,...,...,...,...,...,...,...,...,...,...
10653,Jet Airways,1/05/2019,Kolkata,Banglore,CCU → BOM → BLR,14:05,12:00 02 May,21h 55m,1 stop,No info,14388
10654,SpiceJet,12/06/2019,Banglore,Delhi,BLR → DEL,05:55,08:35,2h 40m,non-stop,No check-in baggage included,4319
10655,Jet Airways,3/05/2019,Mumbai,Hyderabad,BOM → HYD,02:55,04:20,1h 25m,non-stop,No info,5678
10656,Vistara,6/04/2019,Banglore,Delhi,BLR → DEL,07:00,09:40,2h 40m,non-stop,No info,5613
10657,Jet Airways,6/05/2019,Kolkata,Banglore,CCU → BOM → BLR,20:00,09:20 07 May,13h 20m,1 stop,In-flight meal not included,9663
10658,Jet Airways,18/06/2019,Banglore,Delhi,BLR → DEL,11:10,14:05,2h 55m,non-stop,In-flight meal not included,5769
10659,Vistara,1/05/2019,Banglore,Delhi,BLR → DEL,21:00,23:50,2h 50m,non-stop,No info,4668
10660,Vistara,21/03/2019,Banglore,New Delhi,BLR → DEL,21:10,00:05 19 Mar,2h 55m,non-stop,No info,4878
10661,Air India,9/05/2019,Delhi,Cochin,DEL → BOM → COK,13:00,19:15,6h 15m,1 stop,No info,8372
10662,Air India,24/03/2019,Kolkata,Banglore,CCU → BOM → GOI → BLR,09:25,05:35 25 Mar,20h 10m,2 stops,No info,12352
10663,Jet Airways,6/06/2019,Delhi,Cochin,DEL → JAI → BOM → COK,19:30,12:35 07 Jun,17h 5m,2 stops,In-flight meal not included,11733
10664,IndiGo,9/04/2019,Banglore,Delhi,BLR → DEL,18:55,21:50,2h 55m,non-stop,No info,4823
10665,IndiGo,27/04/2019,Kolkata,Banglore,CCU → BLR,15:15,17:45,2h 30m,non-stop,No info,4804
10666,Jet Airways,12/06/2019,Delhi,Cochin,DEL → BOM → COK,18:15,19:00 13 Jun,24h 45m,1 stop,In-flight meal not included,10262
10667,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,22:55,20:20 13 Mar,21h 25m,1 stop,In-flight meal not included,11087
10668,Jet Airways,9/05/2019,Delhi,Cochin,DEL → JDH → BOM → COK,11:40,19:00,7h 20m,2 stops,No info,21219
10669,Air India,15/06/2019,Delhi,Cochin,DEL → BOM → COK,08:00,19:15,11h 15m,1 stop,No info,9929
10670,Air India,12/05/2019,Kolkata,Banglore,CCU → IXR → DEL → BLR,05:50,23:15,17h 25m,2 stops,No info,11411
10671,Air India,6/06/2019,Mumbai,Hyderabad,BOM → HYD,21:05,22:25,1h 20m,non-stop,No info,3100
10672,Jet Airways,27/06/2019,Delhi,Cochin,DEL → AMD → BOM → COK,23:05,19:00 28 Jun,19h 55m,2 stops,In-flight meal not included,11150
10673,Jet Airways,27/05/2019,Delhi,Cochin,DEL → AMD → BOM → COK,13:25,04:25 28 May,15h,2 stops,No info,16704
10674,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,20:35,21:20 13 Mar,24h 45m,1 stop,In-flight meal not included,11087
10675,Air India,9/06/2019,Mumbai,Hyderabad,BOM → HYD,06:20,07:40,1h 20m,non-stop,No info,3100
10676,Multiple carriers,1/05/2019,Delhi,Cochin,DEL → BOM → COK,10:20,19:00,8h 40m,1 stop,No info,9794
10677,SpiceJet,21/05/2019,Banglore,Delhi,BLR → DEL,05:55,08:35,2h 40m,non-stop,No check-in baggage included,3257
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [675]:
# Drop all rows which have null values
df = df.dropna(axis=0)

In [676]:
X = df[df.columns[:-1]]
y = df[df.columns[-1]]

In [677]:
X['Date_of_Journey'] = pd.to_datetime(X['Date_of_Journey'])

/Users/allenclark/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [678]:
#function to convert string in duration column to integer of minutes flown
def ret(s):
    s = s.split(' ')
    l = len(s)
    if l > 1:
        return int(s[0].replace('h','')) * 60 + int(s[1].replace('m',''))
    else:
        if 'h' in s[0]:
            return int(s[0].replace('h','')) * 60
        if 'm' in s[0]:
            return int(s[0].replace('m',''))
    
ret('5h 8m')

308

In [679]:
# Get ride of 'Route' and 'Arrival_Time' columns (not much info in route and arrival time equal to departure and duration)
X = X.drop(['Arrival_Time'],axis=1)
#call function to convert duration to integer of minutes flown 
X['Duration'] = X['Duration'].apply(ret)

In [680]:

def convert(df,feature):
    number = preprocessing.LabelEncoder()
    df[feature] = number.fit_transform(df[feature])
  
    return df

In [681]:
for val in ['Airline','Source','Additional_Info','Destination','Total_Stops','Route']:
    X = convert(X,val)

In [682]:
X

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info
0,3,2019-03-24,0,5,18,22:20,170,4,8
1,1,2019-01-05,3,0,84,05:50,445,1,8
2,4,2019-09-06,2,1,118,09:25,1140,1,8
3,3,2019-12-05,3,0,91,18:05,325,0,8
4,3,2019-01-03,0,5,29,16:50,285,0,8
5,8,2019-06-24,3,0,64,09:00,145,4,8
6,4,2019-12-03,0,5,5,18:55,930,0,5
7,4,2019-01-03,0,5,5,08:00,1265,0,8
8,4,2019-12-03,0,5,5,08:55,1530,0,5
9,6,2019-05-27,2,1,104,11:25,470,0,8
10,1,2019-01-06,2,1,103,09:45,795,0,8
11,3,2019-04-18,3,0,64,20:20,155,4,8
12,1,2019-06-24,1,4,127,11:40,135,4,8
13,4,2019-09-05,3,0,66,21:10,730,0,5
14,3,2019-04-24,3,0,64,17:15,155,4,8
15,1,2019-03-03,2,1,97,16:40,1595,1,8
16,8,2019-04-15,2,1,123,08:45,270,0,8
17,4,2019-12-06,2,1,104,14:00,1355,0,5
18,1,2019-12-06,2,1,105,20:15,1380,1,8
19,4,2019-05-27,2,1,104,16:00,1235,0,5
20,2,2019-06-03,2,1,104,14:10,310,0,8
21,1,2019-03-21,0,5,17,22:00,920,0,8
22,3,2019-03-04,0,2,18,04:00,170,4,8
23,3,2019-01-05,0,2,18,18:55,175,4,8
24,4,2019-06-05,3,0,66,18:55,800,0,5
25,4,2019-09-06,2,1,113,21:25,910,1,8
26,3,2019-01-06,2,1,119,21:50,345,0,8
27,2,2019-05-15,2,1,104,07:00,355,0,8
28,10,2019-06-18,0,2,18,09:45,170,4,8
29,10,2019-06-15,1,4,127,07:05,135,4,8
...,...,...,...,...,...,...,...,...,...
10653,4,2019-01-05,3,0,66,14:05,1315,0,8
10654,8,2019-12-06,0,2,18,05:55,160,4,7
10655,4,2019-03-05,4,3,48,02:55,85,4,8
10656,10,2019-06-04,0,2,18,07:00,160,4,8
10657,4,2019-06-05,3,0,66,20:00,800,0,5
10658,4,2019-06-18,0,2,18,11:10,175,4,5
10659,10,2019-01-05,0,2,18,21:00,170,4,8
10660,10,2019-03-21,0,5,18,21:10,175,4,8
10661,1,2019-09-05,2,1,104,13:00,375,0,8
10662,1,2019-03-24,3,0,68,09:25,1210,1,8
10663,4,2019-06-06,2,1,116,19:30,1025,1,5
10664,3,2019-09-04,0,2,18,18:55,175,4,8
10665,3,2019-04-27,3,0,64,15:15,150,4,8
10666,4,2019-12-06,2,1,104,18:15,1485,0,5
10667,4,2019-12-03,0,5,5,22:55,1285,0,5
10668,4,2019-09-05,2,1,117,11:40,440,1,8
10669,1,2019-06-15,2,1,104,08:00,675,0,8
10670,1,2019-12-05,3,0,85,05:50,1045,1,8
10671,1,2019-06-06,4,3,48,21:05,80,4,8
10672,4,2019-06-27,2,1,97,23:05,1195,1,5
10673,4,2019-05-27,2,1,97,13:25,900,1,8
10674,4,2019-12-03,0,5,5,20:35,1485,0,5
10675,1,2019-09-06,4,3,48,06:20,80,4,8
10676,6,2019-01-05,2,1,104,10:20,520,0,8
10677,8,2019-05-21,0,2,18,05:55,160,4,7
10678,0,2019-09-04,3,0,64,19:55,150,4,8
10679,1,2019-04-27,3,0,64,20:45,155,4,8
10680,4,2019-04-27,0,2,18,08:20,180,4,8
10681,10,2019-01-03,0,5,18,11:30,160,4,8
10682,1,2019-09-05,2,1,108,10:55,500,1,8

In [683]:
X['Date_of_Journey'].dtype

dtype('<M8[ns]')

In [684]:
def weekday(df):
    return df.dayofweek

In [685]:
def month(df):
    return  df.month

In [686]:
def day_of_year(df):
    return df.dayofyear

In [687]:
X.insert(2, 'Month', X['Date_of_Journey'].apply(month))
X.insert(3, 'Day_Of_Week', X['Date_of_Journey'].apply(weekday))
X.insert(1,'day_of_year',X['Date_of_Journey'].apply(day_of_year))

In [688]:
X = X.drop('Date_of_Journey',axis=1)

In [689]:
df_time = pd.to_datetime(X['Dep_Time'])
X['Dep_Time'] = (df_time.dt.hour*60+df_time.dt.minute)*60 + df_time.dt.second

In [690]:
# drop date now that month and day columns have been created
# X = X.drop(['Date_of_Journey'],axis=1)

In [691]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=.4,random_state=0)

In [692]:
rec = DecisionTreeRegressor(random_state=0,max_depth=8,min_samples_split=4,min_samples_leaf=6)
lin = LinearRegression()

In [693]:
rec.fit(X_train,y_train)
lin.fit(X_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [694]:
# i_cur = 0
# j_cur = 0
# k_cur = 0
# l = [10000000]
# for i in range(2,20):
#     for j in range(2,20):
#         for k in range(2,20):
#             rec = DecisionTreeRegressor(random_state=0, max_depth=i, min_samples_split=j,min_samples_leaf=k)
#             rec.fit(X_train,y_train)
#             std = (rec.predict(X_test) - y_test).std()
#             if std < min(l):
#                 i_cur = i
#                 j_cur = j
#                 k_url = k
#             l.append(std)
# print('max_depth:', i_cur, 'min_samples:', j_cur)
print(i_cur,j_cur,k_url)

19 16 6

In [695]:
forest = RandomForestRegressor(max_depth=15, min_samples_split=5)
forest.fit(X_train,y_train)
(forest.predict(X_test) - y_test).describe()

/Users/allenclark/anaconda3/lib/python3.7/site-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

count     4273.000000
mean        23.634978
std       1983.491198
min     -35805.082143
25%       -346.855472
50%         19.413025
75%        487.984445
max      14844.971429
Name: Price, dtype: float64

In [696]:
rec = DecisionTreeRegressor(max_depth=19, min_samples_split=16, min_samples_leaf=6)
rec.fit(X_train,y_train)
(rec.predict(X_test) - y_test).describe()

count     4273.000000
mean        40.215507
std       2220.401138
min     -34997.545455
25%       -407.250000
50%          0.000000
75%        503.000000
max      29579.333333
Name: Price, dtype: float64

In [704]:
boost = GradientBoostingRegressor(n_estimators=2500,min_samples_split=18)
boost.fit(X_train,y_train)
(boost.predict(X_test) - y_test).describe()

count     4273.000000
mean        -0.869204
std       1700.074207
min     -37273.872114
25%       -524.422549
50%         21.827284
75%        561.758363
max      20486.217625
Name: Price, dtype: float64